body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: antiquewhite;
}

.noticia {
    margin-bottom: 20px; /* espaço entre as notícias */
}

.noticia img {
    width: 50px; /* largura desejada */
    height: 25px; /* altura desejada */
    object-fit: cover; /* ajusta a imagem sem distorcer */
}
